{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}
{{- $cells := partial "poppy-engine/markdown_to_cells" (dict "content" $page.Content) -}}

{{- with $design -}}
  <div class="{{.vertical_space}} min-h-screen">
    <div class="{{$content.item_background_color}} {{.rounded}} {{.shadow}} {{.border}} w-full grid grid-cols-4 md:grid-cols-7 grid-flow-row ">
      {{- range $cells -}}
        {{- $class := "" -}}
        {{- $type := "" -}}
        {{- if in . "<h1" -}}
          {{- $class = "p-2 flex items-center max-h-screen" -}}
          {{- $type = $design.h1 }}
        {{- end -}}
        {{- if in . "<h2" -}}
          {{- $class = "p-2 flex items-center max-h-screen"}}
          {{- $type = $design.h2 }}
        {{- end -}}
        {{- if in . "<h3" -}}
          {{- $class = "col-span-3 p-2 flex items-center"}}
          {{- $type = $design.h3 }}
        {{- end -}}
        {{- if in . "<h4" -}}
          {{- $class = "col-span-3 row-span-1 p-2"}}
          {{- $type = "prose" }}
        {{- end -}}
        {{- if in . "<img" -}}
          {{- $class = "col-span-3 row-span-2"}}
        {{- end -}}
        {{- if in . "<p" -}}
          {{- $class = "col-span-3 row-span-1 p-2 "}}
          {{- $type = "prose"}}
        {{- end -}}
        <div class = "{{$class}} {{$type}} w-full h-full ">
              {{- . | safeHTML  -}}
        </div>
      {{- end -}}
    </div>
  </div>
{{- end -}}
