{{- "<!-- banner one -->" | safeHTML -}}
{{- $page := .page -}}
{{- $bg_css := printf "%s-%s" $page.Section $page.File.ContentBaseName -}}

{{- $content := partial "process/get_content" (dict "page" .page "section" .section "contentBlock" .contentBlock) -}}
{{- partial "UI-elements/bg_image" (dict "page" .page "css_class" $bg_css "bg_image" $content.bg_image "path" "images/") }}

{{- with $content -}}
  <header class="bg-fixed text-center bg-cover px-4 -mt-24 pt-32 pb-10 {{ $bg_css }} ">
    <h1 class="text-6xl md:text-7xl lg:text-8xl  uppercase">{{.title}}</h1>
    <p class="h3">{{ .subtitle }}</p>
    {{- partial "UI-elements/image" (dict "resource_page" $page "name" .fg_image "path" "images/" "link" .link "scale" "w-100") -}}

    {{- partial "UI-elements/buttons" .buttons -}}
  </header>
{{- end -}}
