{{ "<!-- banner one -->" | safeHTML }}

{{/*----------- Determine content ---------*/}}

{{- $content := partial "process/get_content" (dict "page" .page "section" .section "contentBlock" .contentBlock) -}}

{{/*----------- Section Layout ---------*/}}

{{ partial "process/get_background_style" (dict "page" $content.bg_resource_page "css_class" $content.name "bg_image" $content.bg_image "imagePath" $content.bg_image_path) }}

<header class="center px-4 py-20 bg-gray bg-cover bg-center {{$content.name}}">
  <h1 class="text-9xl uppercase mt-20 ">{{$content.title}}</h1>
  <p class="h3">{{ $content.subtitle }}</p>
  {{- partial "UI-elements/image" (dict "resource_page" $content.fg_resource_page "name" $content.fg_image "path" $content.fg_image_path "link" .RelPermalink "scale" "w-100") -}}

  <div class="block p-20 text-white">
    {{- $btnclasses := slice "bg-pogocolor2" "bg-pogocolor3" "bg-pogocolor3" -}}
    {{- $txtclasses := slice "text-primary" "text-secondary text-secondary" -}}
    {{- range $index, $value := $content.buttons -}}
    <a href="{{.link }}">
      <button type="button" class="font-body rounded-btn {{ index $btnclasses $index }} {{ index $txtclasses $index }} text-xl font-medium px-6 py-3 mr-2">
        {{- .label -}}
      </button>
    </a>
    {{- end -}}
  </div>

</header>
