{{ $design := .design }}

{{- $btnclasses := slice $design.button_primary $design.button_seconday $design.button_secondary -}}
{{- if reflect.IsSlice .buttons -}}
  {{- range $index, $value := .buttons -}}
    <a href="{{.link }}">
      <button type="button" class=" hover:opacity-80 {{ index $btnclasses $index }}">
        <div class="flex">
          {{- with .icon -}}
            <div class="flex-col w-8 p-0 my-auto mr-2 -ml-4">
              {{- partial "poppy-elements/icon_outline" (dict "icon" . ) -}}
            </div>
          {{- end -}}
          <div class="my-auto">
            {{- .label -}}
          </div>
        </div>
      </button>
    </a>
  {{- end -}}
{{- end -}}
