{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}

<div class="{{.vertical_space}} prose max-w-5xl mx-auto {{.body }} w-full {{$content.item_bg_color}} {{.rounded}} {{.shadow}} {{.border}} px-20 pb-10">
    {{if not $page.Params.hideMetadata }}
      <header class="text-center pt-10 pb-6">
        <small class="text-center text-sm">

          {{ range ($page.GetTerms "tags") }}
            term
            <a href="{{$page.Permalink }}" class="inline-flex items-center px-4 py-1 rounded-full no-underline bg-orange-100 text-orange-800 hover:bg-orange-300 ml-4">
              {{.LinkTitle }}
            </a>
          {{ end }}

        </small>
      </header>

    {{ else }}

    <h1 class="leading-9"><a href="{{.Permalink}}" class="no-underline text-black">{{$page.Title }}</a></h1>

    {{ end }}

    <div class="">
      {{$page.Content }}
    </div>

</div>

{{- end -}}
