{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}

<section id="{{$content.name}}" class="{{$content.bg_color}} {{$content.bg_css}} bg-cover">
  <div class = "container mx-auto px-2">


    <div class="">
        {{/* {{ partial "poppy-elements/post-tags" . }} */}}
        <h1 class="{{.title}}">{{ $content.title }}</h1>
        <div class="rounded overflow-hidden">
            {{ with $content.summary }}
                <div class="prose {{.body}}">
                    {{ . }}
                </div>
            {{ end }}
        </div>
    </div>

    <div class="prose {{.body}} article-container max-w-screen-md xl:max-w-screen-lg mx-auto">
      <div class="overflow-hidden h-96 object-center">
      {{- partial "poppy-elements/image" (dict "resource_page" $page "name" $content.image "link" $content.link "class" "w-full") -}}
    </div>
        {{- $page.Content | markdownify -}}
    </div>

    <hr class="mt-16" />
    <div class="mx-auto max-w-screen-md xl:max-w-screen-lg">
        {{partial "poppy-elements/post-prev-next" $page }}
    </div>
    <div class="mt-8 mb-4 mx-auto max-w-screen-md xl:max-w-screen-lg">
        {{/* {{partial "poppy-elements/post-suggestions" . }} */}}
    </div>

    {{/* Buttons at the bottom-right */}}
    <div class="fixed bottom-0 right-0 pb-5 pr-5">
        {{partial "poppy-elements/back-to-top-button" }} {{partial "poppy-elements/toc-button" . }}
    </div>
    {{partial "poppy-elements/table-of-contents" $page }}
  </div>
</section>

{{- end -}}
