{{- "<!-- banner one -->" | safeHTML -}}
{{- $page := .page -}}
{{- $bg_css := printf "%s-%s" $page.Section $page.File.ContentBaseName -}}
{{- $content := partial "process/get_content" (dict "page" .page "section" .section "contentblock" .contentblock) -}}
{{- $design := partial "process/get_design" .contentblock -}}

{{- partial "UI-elements/bg_image" (dict "page" .page "css_class" $bg_css "bg_image" $content.bg_image "path" "images/") }}

{{- with $design -}}
  <header class="bg-fixed text-center bg-cover px-4 -mt-24 pt-32 {{.text_dark}} {{.outer_space}} {{.inner_space}} pb-12 {{ $bg_css }} ">
    <h1 class="text-6xl md:text-7xl lg:text-8xl  uppercase {{.title}} {{.text_dark}}">{{$content.title}}</h1>
    <p class="{{ .subtitle }}">{{ $content.subtitle }}</p>
    {{- partial "UI-elements/image" (dict "resource_page" $page "name" $content.fg_image "path" "images/" "link" $content.link "class" "w-full") -}}
    {{- partial "UI-elements/buttons" (dict "page" $page "buttons" $content.buttons ) -}}
  </header>
{{- end -}}
