{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
  <header id="{{$content.name}}" class="bg-fixed bg-center {{if $content.full_height}}h-screen{{end}} bg-cover px-4 pt-32 {{.outer_space}} {{.vertical_space}} pb-12 {{ $content.bg_css }} ">
    <h1 class="{{.title}} ">{{$content.title}} (mono)</h1>
    <p class="{{ .subtitle }}">{{ $content.subtitle }} (mono)</p>
    {{- partial "poppy-elements/image" (dict "resource_page" $content.fg_resource_page "name" $content.image "link" $content.link "class" "w-full") -}}
    {{- partial "poppy-elements/buttons" (dict "design" . "buttons" $content.buttons ) -}}
  </header>
{{- end -}}
