{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
  <header class="bg-fixed text-center bg-cover px-4 -mt-24 pt-32 {{.text_dark}} {{.outer_space}} {{.inner_space}} pb-12 {{ $content.bg_css }} {{.bg_color}} ">
    <h1 class="text-6xl md:text-7xl lg:text-8xl  uppercase {{.title}} {{.text_dark}}">{{$content.title}}</h1>
    <p class="{{ .subtitle }}">{{ $content.subtitle }}</p>
    {{- partial "UI-elements/image" (dict "resource_page" $content.fg_resource_page "name" $content.image "link" $content.link "class" "w-full") -}}
    {{- partial "UI-elements/buttons" (dict "design" . "buttons" $content.buttons ) -}}
  </header>
{{- end -}}
