{{ "<!-- snippet enumeration cards -->" | safeHTML }}
{{- $page := .page -}}
{{/*----------- Determine content ---------*/}}

{{- $content := partial "process/get_content" (dict "page" .page "section" .section "contentBlock" .contentBlock) -}}

{{/*----------- Section Layout ---------*/}}
{{- with $content -}}
{{- $columns := partial "UI-elements/responsive-columns" (dict "amount" (len .items ) "max_columns" .max_columns) -}}

<section class="{{- if not .full_width -}} container {{- end -}}">
  <h1>{{ .title }}</h1>
  <div class="p2">
    <div class="flex flex-wrap mxn2">

      {{- range .items -}}
          <div class="{{$columns}} border-box flex ">
            <div class = "m1 border rounded">
              <div>
              {{- partial "UI-elements/image" (dict "resource_page" $page "name" .image "path" "images/" "link" .RelPermalink "scale" "full-width") -}}
             </div>
              <div class = "p1">
                <p class="m0">{{.bodytext | markdownify }}</p>
                {{- partial "UI-elements/buttons" .buttons -}}
              </div>
            </div>
          </div>
      {{- end -}}

    </div>
  </div>
</section>
{{- end -}}
