{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
<section class="z-10">
  <nav class="flex py-3 bg-transparent">
    <div class="flex-none w-16 ">
    </div>
    <div class="py-7 flex-grow text-center">
        <a id="logo" class="mt-20 uppercase bg-poppycolor4 p-3 text-white text-3xl" href="/">PoppyGo One</a>
    </div>
    <div class="flex-none w-20">
        <button id="hamburger-open" class="text-4xl py-5">
        &#9776;
      </button>
    </div>
  </nav>

  <div class="-mt-20 border-poppycolor1">
    <ul id="menu" class=" hidden flex">
      <div class="bg-poppycolor4 flex w-full mb-1 px-14 py-5 flex-col lg:flex-row justify-end items-end lg:items-center">
        <div class="py-5 flex-grow text-left">
            <a id="logo" class="mt-20 uppercase bg-poppycolor4 p-3 text-white text-2xl" href="/">PoppyGo One</a>
        </div>
        {{ range $content.menus.main }}
          <li class="flex my-2 lg:my-2 mx-1 lg:mx-2 bg-poppycolor4">
            <a title="{{ .name }}" class="uppercase font-bold lg:py-2 lg:px-3 text-white text-xl opacity-75 hover:opacity-100 transition duration-300 ease-in-out" href="{{ .url }}">{{ .name }}</a>
          </li>
        {{ end }}
        <button id="hamburger-close" class="">
        &#10060;
        </button>
      </div>
    </ul>
  </div>
</section>
{{- end -}}


<script>
    let hamburger = document.getElementById('hamburger-open');
    let close = document.getElementById('hamburger-close');
    let menu = document.getElementById('menu');
    let logo = document.getElementById('logo');

    hamburger.addEventListener('click', function(){
        menu.classList.toggle('hidden');
        hamburger.classList.toggle('hidden');
        logo.classList.toggle('hidden');
    });

    close.addEventListener('click', function(){
        menu.classList.toggle('hidden');
        hamburger.classList.toggle('hidden');
        logo.classList.toggle('hidden');
    });
</script>
