{{- define "main" -}}
{{ "<!-- default page_components -->" | safeHTML }}

<div class= "m-24 text-center text-6xl">
    <h1> This is a preview of {{.File.ContentBaseName }} </h1>
</div>

<div class = "mt-20">
  {{- $poppy_component := printf "poppy-components/%s/%s" .Params.poppy_type .Params.poppy_variant -}}
  {{- if (fileExists (printf "themes/poppygo-one/layouts/partials/%s.html" $poppy_component )) }}
      {{- partial $poppy_component (dict "page" . "section" .Params "page_component" .  ) -}}
  {{- end -}}
<div>
{{- end -}}
