{{- $columns := "" -}}

{{- if le .max_columns 2 -}}
    {{- $columns = "sm:w-1/2 md:w-1/2 lg:w-1/2 mx-auto" -}}
{{- else if le .max_columns 3 -}}
    {{- if or (eq .amount 2) (eq .amount 4) -}}
      {{- $columns = "sm:w-1/2 mx-auto" -}}
    {{- else  -}}
      {{- $columns = "w-full sm:w-1/2 md:w-1/3 mx-auto" -}}
    {{- end -}}
{{- else if or (le .max_columns 4) (le .max_columns 5) -}}
    {{- if le .amount 2 -}}
      {{- $columns = "sm:w-1/2 mx-auto" -}}
    {{- else if or (eq .amount 3) (eq .amount 5) (eq .amount 6) -}}
      {{- $columns = "w-1/2 sm:w-1/2 md:w-1/3 mx-auto" -}}
    {{- else -}}
      {{- $columns = "w-1/2 sm:w-1/2 w-1/4 mx-auto" -}}
    {{- end -}}
{{- else if le .max_columns 6 -}}
  {{- if eq .amount 2 -}}
    {{- $columns = "sm:w-1/2 md:w1/2 lg:w-1/2 mx-auto" -}}
  {{- else if eq .amount 3 -}}
    {{- $columns = "w-1/2 sm:w-full md:w-1/3 mx-auto" -}}
  {{- else if eq .amount 4 -}}
    {{- $columns = "w-1/2 sm:w-1/2 md:w-1/4 mx-auto" -}}
  {{- else if le .amount 6 -}}
    {{- $columns = "w-1/2 sm:w-1/2 md:w-1/3 lg:w-1/6 mx-auto"  -}}
  {{- else if le .amount 8 -}}
    {{- $columns = "w-1/2 sm:w-1/2 md:w-1/4  mx-auto" -}}
  {{- else -}}
    {{- $columns = "w-1/2 sm:w-1/3  md:w-1/4  lg:w-1/6 mx-auto" -}}
  {{- end -}}
{{- end -}}

{{- return $columns -}}
