{{- "<!-- snippet list gallery -->" | safeHTML -}}

{{/*----------- Determine content ---------*/}}

{{- $content := partial "process/get_content" (dict "page" .page "section" .section "contentBlock" .contentBlock) -}}

{{/*----------- Section Layout ---------*/}}

{{ partial "UI-elements/bg_image" (dict "page" .page "css_class" $content.name "bg_image" $content.bg_image "path" "images/") }}

{{- with $content -}}
  {{- $items := partial "process/sortedItems" (dict "type" .list ) -}}

  <section class="text-center">
    <h1 class="text-5xl mt-10 mb-20">{{ .title }}</h1>
    <div class=" grid gap-3 grid-cols-2 md:grid-cols-5 lg:grid-cols-9">
        {{- range $items -}}
        {{- partial "UI-elements/bg_image" (dict "page" . "css_class" .File.ContentBaseName "bg_image" .Params.fg_image "path" "images/") -}}
          <div class="bg-pogocolor4 text-white {{.File.ContentBaseName}} bg-cover bg-center py-10 px-2">
              <h1 class="text-center">{{.Title}}</h1>
              <h1 class="text-center">{{.Summary}}</h1>
          </div>
        {{- end -}}
    </div>
  </section>
{{- end -}}


{{/* <section class="" id="">
  <div id="reading-progress-bar" role="presentation" class="fixed z-10 top-0 left-0 h-1 bg-gray-700"></div>

    {{ $paginator := .page.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}
      <article class="article border-b border-gray-400">
        <h1><a href="{{.Permalink}}" class="no-underline">{{ .Title }}</a></h1>

        {{ .Summary }}
      </article>
    {{ end }}

    {{ if gt $paginator.TotalPages 1 }}
      {{ template "_internal/pagination.html" . }}
    {{ end }}

  </div>
</section> */}}
