{{ "<!-- snippet list mediacards -->" | safeHTML }}
<section class="p2 container mx-auto clearfix">
  <h1>{{ .snippetOverride.title | default .snippet.Params.title }}</h1>
  <h2>Media Object</h2>
  <div class="flex mb2">
    <img src="http://placehold.it/100"
         class="flex-none mr2"
         alt="Kitten"/>
    <div class="flex-auto">
      <p class="m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, ut obcaecati, laudantium nobis.</p>
    </div>
  </div>

  <h2>Centered Media Object (aka Flag Object)</h2>
  <div class="flex flex-center mb2">
    <img src="http://placehold.it/100"
         class="flex-none mr2"
         alt="Kitten"/>
    <div class="flex-auto">
      <p class="m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, ut obcaecati, laudantium nobis.</p>
    </div>
  </div>

  <h2>Double-Sided Media Object</h2>
  <div class="flex flex-center mb2">
    <img src="http://placehold.it/100"
         class="flex-none mr2"
         alt="Kitten"/>
    <div class="flex-auto">
      <p class="m0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, ut obcaecati, laudantium nobis.</p>
    </div>
    <img src="http://placehold.it/100"
         class="flex-none ml2"
         alt="Kitten"/>
  </div>

</section>



{{/* <section class="" id="">
  <div id="reading-progress-bar" role="presentation" class="fixed z-10 top-0 left-0 h-1 bg-gray-700"></div>

    {{ $paginator := .page.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}
      <article class="article border-b border-gray-400">
        <h1><a href="{{.Permalink}}" class="no-underline">{{ .Title }}</a></h1>

        {{ .Summary }}
      </article>
    {{ end }}

    {{ if gt $paginator.TotalPages 1 }}
      {{ template "_internal/pagination.html" . }}
    {{ end }}

  </div>
</section> */}}
