{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}
{{- $transparent := "" -}}
{{- if eq $content.background_color "bg-transparent" -}}{{- $transparent = "absolute z-10 top-0 left-0 w-full" -}} {{- end -}}

{{- with $design -}}
<div class ="{{$transparent}}">
  <div id="hamburger-open" class= "{{$content.background_color}} w-full {{.rounded}} px-3 container flex justify-between mx-auto">
      <div class="flex items-center justify-center w-full">
        <div class="flex-auto flex items-center w-1/2 sm:w-1/3 md:w-1/3 lg:w-1/4 xl:w-1/5">
            {{- partial "poppy-elements/logo" (dict "content" $content "design" $design) -}}
        </div>
      </div>
    <div class="flex items-center justify-end w-80 {{.menu }} m-5 ">
        <button id="" class="text-4xl focus:outline-none">
          <div>menu</div>
      </button>
    </div>
  </div>

  <ul id="menu" class="hidden flex z-10 p-3">
    <div class="{{$content.background_color}} flex w-full px-14 py-4 flex-col lg:flex-row justify-end items-end lg:items-center">
      {{ range $content.menus}}
        {{- range .items -}}
        <li class="flex my-2 lg:my-2 mx-1 lg:mx-2 w-4/5">
          <a title="{{ .name }}" class="{{$design.menu}} px-5" href="{{ .url }}">{{ .name }}</a>
        </li>
        {{- end -}}
      {{ end }}
      <button id="hamburger-close" class="{{.menu}} h-12 w-36">
        {{- partial "poppy-elements/icon" (dict "icon" "x" "icontype" "solid") -}}
      </button>
    </div>
  </ul>
</div>
{{- end -}}

<script>
    let hamburger = document.getElementById('hamburger-open');
    let close = document.getElementById('hamburger-close');
    let menu = document.getElementById('menu');
    let logo = document.getElementById('logo');

    hamburger.addEventListener('click', function(){
        menu.classList.toggle('hidden');
        hamburger.classList.toggle('hidden');
        logo.classList.toggle('hidden');
    });

    close.addEventListener('click', function(){
        menu.classList.toggle('hidden');
        hamburger.classList.toggle('hidden');
        logo.classList.toggle('hidden');
    });
</script>
