{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
<section id="{{$content.name}}" class="{{if $page.IsHome}} lg:absolute lg:z-10 {{end}} w-full antialiased rounded sm:p-2">
  <div class="container mx-auto">
    <div class="md:px-16 px-6 {{$content.bg_color}} flex flex-wrap items-center md:py-0 py-2 {{.rounded}}">
      <div class="flex-1 flex justify-between items-center">
          {{- partial "poppy-elements/logo" (dict "content" $content "design" $design) -}}
      </div>
      <div class="pointer-cursor text-poppycolor2 lg:hidden block text-right w-20">
          <button id="hamburger" class="text-4xl py-5">
          &#9776;
        </button>
      </div>
    <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
      <nav>
        <ul class="lg:flex items-center justify-between {{$design.menu}} pt-4 md:pt-0 ">
          {{ range $content.menus.main}}
            <li class="justify-end flex my-1 lg:my-1 mx-1 lg:mx-1 ">
              <a title="{{ .name }}" class="lg:px-2 py-1 px-0 block border-b-2 border-transparent hover:border-poppycolor2 " href="{{ .url }}">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</div>
</section>
{{- end -}}

<script>
    let hamburger = document.getElementById('hamburger');
    let menu = document.getElementById('menu');
    hamburger.addEventListener('click', function(){menu.classList.toggle('hidden');});
</script>
