{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}
<section class="z-10">
  <nav class="flex py-3 bg-transparent">
    <div class="flex-none w-16 ">
    </div>
    <div class="h-16 flex-grow text-center">
        {{- if and $content.imagesvg (fileExists (printf "%simages/%s" $content.fg_resource_page.Dir $content.imagesvg )) -}}
        <div class = "py-1 w-80 mx-auto">
            {{ readFile (printf "%s/images/%s" $content.fg_resource_page.Dir $content.imagesvg ) | safeHTML }}
        </div>
        {{ else if $content.image }}
            {{- partial "poppy-elements/image" (dict "resource_page" $content.fg_resource_page "name" $content.image "link" $content.link "class" "mx-auto") -}}
        {{ else }}
          <div class="p-6">
              <a id="logo" class="uppercase {{.bg_color}} p-3 text-white text-3xl" href="/">{{$content.title}}</a>
          </div>
        {{ end }}
    </div>
    <div class="flex-none w-20">
        <button id="hamburger-open" class="text-4xl py-5">
        &#9776;
      </button>
    </div>
  </nav>

  <div class="border-poppycolor1">
    <ul id="menu" class=" hidden flex -mt-24">
      <div class="{{.bg_color}} flex w-full mb-1 px-14 py-6 flex-col lg:flex-row justify-end items-end lg:items-center">
        {{- if and $content.imagesvg (fileExists (printf "%simages/%s" $content.fg_resource_page.Dir $content.imagesvg )) -}}
        <div class = "py-1 w-72 mx-auto">
            {{ readFile (printf "%s/images/%s" $content.fg_resource_page.Dir $content.imagesvg ) | safeHTML }}
        </div>
        {{ else if $content.image }}
            {{- partial "poppy-elements/image" (dict "resource_page" $content.fg_resource_page "name" $content.image "link" $content.link "class" "mx-auto") -}}
        {{ else }}
        <div class="flex p-6 flex justify-start">
          <a id="logo" class=" uppercase {{.bg_color}} p-3 text-white flex-left text-3xl" href="/">{{$content.title}}</a>
        </div>
        {{ end }}
        {{ range $content.menus.main}}
          <li class="flex my-2 lg:my-2 mx-1 lg:mx-2 ">
            <a title="{{ .name }}" class="uppercase font-bold lg:py-2 lg:px-3 text-white text-xl opacity-75 hover:opacity-100 transition duration-300 ease-in-out" href="{{ .url }}">{{ .name }}</a>
          </li>
        {{ end }}
        <button id="hamburger-close" class="">
        &#10060;
        </button>
      </div>
    </ul>
  </div>
</section>
{{- end -}}


<script>
    let hamburger = document.getElementById('hamburger-open');
    let close = document.getElementById('hamburger-close');
    let menu = document.getElementById('menu');
    let logo = document.getElementById('logo');

    hamburger.addEventListener('click', function(){
        menu.classList.toggle('hidden');
        hamburger.classList.toggle('hidden');
        logo.classList.toggle('hidden');
    });

    close.addEventListener('click', function(){
        menu.classList.toggle('hidden');
        hamburger.classList.toggle('hidden');
        logo.classList.toggle('hidden');
    });
</script>
