{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- $items := partial "poppy-engine/sortedItems" (dict "list" $content.list ) -}}
{{- $size := $content.size | default 450 -}}


{{- with $design -}}
<div class="{{.vertical_space}}">
  <h1 class = "{{.title }} ">{{ $content.title }}</h1>
  <p class = "{{.subtitle }}">{{ $content.subtitle }}</p>
  <div class = "p-10">
    <div class = "grid grid-flow-row-dense grid-cols-10 mx-auto {{.gridgap}} m-10">
        {{- range $items -}}
        {{- $span := printf "col-span-2" -}}
        <div class="relative {{$span}}">
          <div class = "flex justify-center" >
            {{- partial "poppy-elements/image" (dict "resource_page" . "name" .Params.image "link" $content.link "class" "w-full") -}}
          </div>

            <a class="{{$content.item_bg_color}}" href={{.RelPermalink }}>
                <h1 class="text-center text-3xl {{$design.itemtitle}} ">{{.Title}}</h1>
            </a>
        </div>
        {{- end -}}
    </div>
  </div>
  <div class = "{{.outer_space}}">
  {{- partial "poppy-elements/buttons" (dict "design" . "buttons" $content.buttons ) -}}
  </div>
</div>
{{- end -}}
