<nav class="flex flex-row py-3 border-b-2 border-pogocolor1 bg-pogocolor3">
  <div class="flex-none w-16 ">
  </div>
  <div class="flex-grow text-center">
      <a class="uppercase text-pogocolor1 text-xl" href="/">PoppyGo One</a>
  </div>
  <div class="flex-none w-16 ">
      <p id="hamburger-btn">
      &#9776;
      </p>
  </div>
</nav>

<div class="bg-pogocolor4 border-pogocolor1">
    <ul class="hidden p-5" id="menu">
      <li><a>Services</a></li>
      <li><a>Porfolio</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
    </ul>
</div>

<script>
    let hamburger = document.getElementById('hamburger-btn');
    let menu = document.getElementById('menu');

    hamburger.addEventListener('click', function(){
        menu.classList.toggle('hidden');
    });
</script>

