<nav class="p1 m0 bg-white border-bottom">
    <div class="clearfix relative">
        <div class="brand center"><a class="btn blue regular caps" href="/">PoppyGo One</a></div>
        <div class="menu clearfix hide">
            <ul class="md-col clearfix list-reset m0 mt2">
                <li class="md-col"><a class="block btn black" href="#!">Single Malt</a></li>
                <li class="md-col"><a class="block btn black" href="#!"> Bourbon</a></li>
                <li class="md-col"> <a class="block btn black" href="#!"> Rye</a></li>
            </ul>
            <span class="md-col-right search px2 mt2"> <input class="input block" type="search" placeholder="Distill" />  </span>
            <ul class="md-col-right clearfix list-reset m0 mt2">
                <li class="md-col flex"><a class="block btn black" href="#!">Rocks </a></li>
                <li class="md-col flex"><a class="block btn btn-primary" href="#!">Neat </a></li>
            </ul>
        </div>
        <div class="toggle absolute top-0 right-0"><button class="btn btn-secondary bg-white black regular">&#9776;</button></div>
    </div>
</nav>
