
{{- $page := . -}}
{{- $contentblocks := where site.RegularPages "Type" "eq" "contentblocks" -}}

{{- range .Params.sections -}}
    {{- $section := . -}}
    {{- range $contentblocks -}}
        {{- if in . $section.contentblock -}}
            {{- $poppyComponent := printf "poppy-components/%s/%s" .Params.poppy_type .Params.poppy_variant -}}
            {{- if (fileExists (printf "themes/poppygo-one/layouts/partials/%s.html" $poppyComponent )) }}
                {{- partial $poppyComponent (dict "page" $page "section" $section "contentblock" .  ) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}




{{/* {{- $contentblocks := .Site.GetPage "/contentblocks" -}}

{{- $page := . -}}

{{- range .Params.sections -}}
    {{- $section := . -}}
    {{- range $contentblocks.Resources.ByType "page" -}}
        {{- if in . $section.contentblock -}}
            {{- $poppyComponent := printf "poppy-components/%s/%s" .Params.type .Params.variant -}}
            {{- if (fileExists (printf "themes/poppygo-one/layouts/partials/%s.html" $poppyComponent )) }}
                {{- partial $poppyComponent (dict "page" $page "section" $section "contentblock" .  ) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}} */}}
