{{- $contentblocks := .Site.GetPage "/contentblocks" -}}

{{- $page := . -}}

{{- range .Params.sections -}}
    {{- $section := . -}}
    {{- range $contentblocks.Resources.ByType "page" -}}
        {{- if in . $section.contentblock -}}
            {{- $contentblock_layout := printf "contentblock-layouts/%s/%s" .Params.type .Params.variant -}}
            {{- if (fileExists (printf "themes/poppygo-one/layouts/partials/%s.html" $contentblock_layout )) }}
                {{- partial $contentblock_layout (dict "page" $page "section" $section "contentBlock" .  ) -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
