

<style>
  :root {
    --poppy-color-1: {{ $.Site.Data.design.colorscheme.poppy_color_1 }};
    --poppy-color-2: {{ $.Site.Data.design.colorscheme.poppy_color_2 }};
    --poppy-color-3: {{ $.Site.Data.design.colorscheme.poppy_color_3 }};
    --poppy-color-4: {{ $.Site.Data.design.colorscheme.poppy_color_4 }};
    --poppy-color-5: {{ $.Site.Data.design.colorscheme.poppy_color_5 }};
    --poppy-color-6: {{ $.Site.Data.design.colorscheme.poppy_color_6 }};

    --font-display: {{ $.Site.Data.design.fontscheme.font_display }};
    --font-body: {{ $.Site.Data.design.general_object.font_body }};

    --font-weight-normal: {{ $.Site.Data.design.fontscheme.font_weight_body }};
    --font-weight-display: {{ $.Site.Data.design.fontscheme.font_weight_display }};

  }
</style>
