<style>
  :root {
    --pogo-color-1: {{ $.Site.Data.theme.css.pogo_color_1 }};
    --pogo-color-2: {{ $.Site.Data.theme.css.pogo_color_2 }};
    --pogo-color-3: {{ $.Site.Data.theme.css.pogo_color_3 }};
    --pogo-color-4: {{ $.Site.Data.theme.css.pogo_color_4 }};
    --pogo-color-5: {{ $.Site.Data.theme.css.pogo_color_5 }};
    --pogo-color-6: {{ $.Site.Data.theme.css.pogo_color_6 }};

    --font-display: {{ $.Site.Data.theme.css.font_display }};
    --font-body: {{ $.Site.Data.theme.css.font_body }};

    --font-weight-normal: {{ $.Site.Data.theme.css.font_weight_normal }};
    --font-weight-display: {{ $.Site.Data.theme.css.font_weight_display }};
    --font-weight-btn: {{ $.Site.Data.theme.css.font_weight_btn }};

    --rounded-btn: {{ $.Site.Data.theme.css.rounded_btn }};
  }
</style>
