
{{- $page_component := . -}}
{{- $typographyData := site.Data.design.typographies -}}
{{- $objectData := site.Data.design.objects -}}
{{- $buttonData := site.Data.design.buttons -}}
{{- $design := dict -}}

{{- range $objectData -}}
  {{- range $key, $value := . -}}

    {{/* Set override */}}
    {{- $override := index $page_component.Params $key -}}
    {{- $default := $value -}}
    {{- $value := $override | default $default }}

    {{- if in $key "size" -}} {{- $value = printf "text-%s" $value -}}
    {{- else if in $key "margin" -}} {{- $value = printf "my-%s" (string $value) -}}
    {{- else if in $key "space" -}} {{- $value = printf "py-%s" (string $value) -}}
    {{- else if in $key "bg" -}} {{- $value = printf "bg-%s" $value -}}
    {{- else if in $key "text" -}} {{- $value = printf "text-%s" $value -}}
    {{- else if eq $key "rounded" -}} {{- $value = printf "rounded-%s" $value -}}
    {{- else if eq $key "shadow" -}} {{- $value = printf "shadow-%s" $value -}}
    {{- else if eq $key "border" -}} {{- $value = printf "border-%s" (string $value) -}}
    {{- end -}}

    {{- $design = merge $design (dict $key $value) -}}

  {{- end -}}
{{- end -}}


{{ range $typographyData -}}
    {{- $size := printf "text-%s" .size -}}
    {{- $font := printf "font-%s" .font -}}
    {{- $space := printf "py-%s" (string .space) -}}
    {{- $name := printf "text-%s" .size -}}

    {{- $design = merge $design (dict .name (printf "%s %s %s" $size $font $space )) -}}
{{- end -}}

{{- range $buttonData -}}
      {{- $spacex := printf "px-%s" (string (mul .space 3)) -}}
      {{- $spacey := printf "py-%s" (string .space) -}}
      {{- $font := printf "font-%s" .font -}}
      {{- $size := printf "text-%s" (string .size) -}}
      {{- $rounded := printf "rounded-%s" .rounded -}}
      {{- $name := printf "button_%s" .name -}}
      {{- $bg_color := printf "bg-%s" .color -}}
      {{- $text_color := printf "text-%s" .text_color -}}
      {{- $font_weight := printf "font-%s" .font_weight -}}

      {{- $design = merge $design (dict $name (printf "%s %s %s %s %s %s %s %s" $spacex $spacey $font $size $bg_color $text_color $rounded $font_weight )) -}}
{{- end -}}


{{- return $design -}}
