
{{- $page_component := .page_component -}}
{{- $section := .section -}}
{{- $content := dict "name" ( .section.name | default .page_component.Name) -}}

{{/* -----------get Params -------- */}}
{{- $params := slice "title" "subtitle" "fg_image" "bg_image" "full_width" "max_columns" "buttons" "items" "list" "max_amount" "size"  -}}

{{- range $params}}
  {{- $override := index $section . -}}
  {{- $default := index $page_component.Params . -}}
  {{- $content = merge $content (dict . ( $override | default $default )) -}}
{{- end -}}


{{/* -----------Change resource page when images are set in the page section  -------- */}}
{{- if .section.bg_image}}
    {{- $content = merge $content (dict "bg_resource_page" .page) -}}
{{- else -}}
    {{- $content = merge $content (dict "bg_resource_page" $page_component ) -}}
{{- end -}}

{{- $content = merge $content (dict "bg_css" (printf "%s" $content.name)) -}}

{{- if .section.fg_image}}
    {{- $content = merge $content (dict "fg_resource_page" .page) -}}
{{- else -}}
    {{- $content = merge $content (dict "fg_resource_page" $page_component) -}}
{{- end -}}

{{- return $content -}}
