
{{- $page_component := .page_component -}}
{{- $section := .section -}}
{{- $content := dict "name" ( .section.name | default .page_component.Name) -}}

{{- $params := slice "title" "subtitle" "image" "bg_image" "full_width" "max_columns" "buttons" "items" "list" "max_amount" "size"  -}}

{{- range $params}}
  {{- $override := index $section . -}}
  {{- $default := index $page_component.Params . -}}
  {{- $content = merge $content (dict . ( $override | default $default )) -}}
{{- end -}}

{{/* only articles get the markdown-content of the page in the body. Others get the markdown-content of the page component */}}
{{- if eq .page_component.Params.pogo_type "pogo-article" -}}
    {{- $content = merge $content (dict "body" .page.Content) -}}
{{- else -}}
  {{- $content = merge $content (dict "body" .page_component.Content) -}}
{{- end -}}

{{/* -----------Change resource page when images are set in the page section  -------- */}}
{{- if .section.bg_image}}
    {{- $content = merge $content (dict "bg_resource_page" .page) -}}
{{- else -}}
    {{- $content = merge $content (dict "bg_resource_page" $page_component ) -}}
{{- end -}}

{{- $content = merge $content (dict "bg_css" (printf "bg_%s_%s" ($page_component.File.UniqueID) ($section.name | anchorize ))) -}}

{{- if .section.image}}
    {{- $content = merge $content (dict "fg_resource_page" .page) -}}
{{- else -}}
    {{- $content = merge $content (dict "fg_resource_page" $page_component) -}}
{{- end -}}

{{- return $content -}}
