
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{{ $scr := .Scratch }}

{{/* Meta description */}}
{{ $desc := "" }}
{{ if .Params.description}}
  {{ $desc = string .Params.description  }}
{{ else if .Params.summary }}
  {{ $desc = string .Params.summary  }}
{{ else if and .IsPage (gt (len .Summary) 50) }}
    {{ $desc = .Summary }}
{{ else if site.Params.description }}
  {{ $desc = string site.Params.description }}
{{ end }}
<meta name="description" content="{{ $desc }}">


{{ $featured_image := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ $has_logo := fileExists "assets/images/logo.png" | or (fileExists "assets/images/logo.svg") }}
{{ $og_image := "" }}
{{ $twitter_card := "summary_large_image" }}
{{ if $featured_image }}
  {{ $og_image = $featured_image.Permalink }}
{{ else if .Params.header.image }}
  {{ $og_image = printf "img/%s" .Params.header.image | absURL }}
{{ else if site.Params.sharing_image }}
  {{ $og_image = printf "img/%s" site.Params.sharing_image | absURL }}
{{ else if $has_logo }}
  {{ $og_image = (partial "process/get_logo" (dict "constraint" "fit" "size" 300)).Permalink }}
  {{ $twitter_card = "summary" }}
{{ else if site.Params.avatar }}
  {{ $og_image = (printf "img/%s" site.Params.avatar) | absURL }}
  {{ $twitter_card = "summary" }}
{{ else }}
  {{ $twitter_card = "summary" }}
{{ end }}
{{ $scr.Set "og_image" $og_image }}{{/* Set `og_image` globally for `rss.xml`. */}}
<meta property="twitter:card" content="{{ $twitter_card }}">
{{ with site.Params.twitter }}
<meta property="twitter:site" content="@{{ . }}">
<meta property="twitter:creator" content="@{{ . }}">
{{ end }}
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ if not .IsHome }}{{ .Params.name | default .Title }} | {{ end }}{{ site.Title }}">
<meta property="og:description" content="{{ $desc }}">
{{- with $og_image -}}
<meta property="og:image" content="{{.}}">
<meta property="twitter:image" content="{{.}}">
{{- end -}}
<meta property="og:locale" content="{{ site.LanguageCode | default "en-us" }}">
{{ if .IsPage }}
  {{ if not .PublishDate.IsZero }}
    <meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
  {{ else if not .Date.IsZero }}
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">
  {{ end }}
  {{ if not .Lastmod.IsZero }}<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ end }}
{{ else }}
  {{ if not .Date.IsZero }}<meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ end }}
{{ end }}

<title>
  {{ if eq .Type "news" }}
      {{ index .Title }} about Dutch Wave Power
  {{ else if eq .Type "technology" }}
      {{ index .Title }} developed by Dutch Wave Power
  {{ else if not .IsHome }}
      {{ .Params.name | default .Title }}
  {{ else }}
      Home
  {{ end }}
  {{if and (not (in (slice "pages" "releases" "plans" "guides" "contact" "tag") .Type )) (not .IsHome) }}
      {{ .Type }} |
  {{ else }}
  |
  {{ end }}
  {{ site.Title }}
</title>
