
{{- $page := . -}}

{{- range .Params.page_sections -}}
    {{- $page_section := .}}
    {{- $page_component := site.GetPage (printf "%s/%s" "page-components" .page_component ) -}}

    {{ with $page_component }}
      {{- $poppy_component := printf "poppy-components/%s/%s" .Params.poppy_type .Params.poppy_variant -}}
      {{- if (fileExists (printf "themes/poppygo-one/layouts/partials/%s.html" $poppy_component )) }}
          {{- partial $poppy_component (dict "page" $page "section" $page_section "page_component" .  ) -}}
      {{- end -}}
    {{ end }}

{{- end -}}
