{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}

<footer id="{{$content.name}}" class="relative {{$content.bg_color}} {{ .vertical_space }} ">
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4">

        {{- partial "poppy-elements/logo" (dict "content" $content "design" $design) -}}

        <h4 class="{{.footer_title}}">{{$content.title}}</h4>
        <h5 class="{{.footer_subtitle}} md:mr-40">{{$content.subtitle}}</h5>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top ">
          {{- range $name, $menu := $content.menus -}}
          <div class="w-full lg:w-6/12 lg:px-4 ml-auto my-6 ">
              <span class=" block {{$design.footer_subtitle }} mb-2">{{ $name | humanize }}</span>
              <ul class="">
              {{ range $menu }}
                <li>
                  <a title="{{ .name }}" class="{{ $design.footer_menu }} hover:text-gray-900 block pb-2" href="{{ .url }}">{{ .name }}</a>
                </li>
              {{ end }}
              </ul>
          </div>
          {{- end -}}
        </div>

      </div>
    </div>

    {{/* <div class="m-10 object-bottom flex flex-wrap items-center md:justify-between justify-center ">
      <div class="mx-auto">
        <button class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3" type="button">
          <i class="flex fab fa-twitter"></i></button>
      </div>
    </div> */}}

    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          Made with
          <a
            href="/"
            class="text-gray-600 hover:text-gray-900"
            >PoppyGo</a
          >.
        </div>
      </div>
    </div>
  </div>
</footer>

{{- end -}}
