{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- with $design -}}



<footer class="relative {{.bg_color}} pt-8 pb-6">
  <div
    class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20">
  </div>
  <div class="container mx-auto px-4">
    <h4 class="{{.title}}">{{$content.title}}</h4>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4">
        <h5 class="{{.subtitle}}">
          {{$content.subtitle}}
        </h5>
        <div class="mt-6 object-bottom">
          <button
            class="bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
            type="button"
          >
            <i class="flex fab fa-twitter"></i></button>
          <button
            class="bg-white text-blue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
            type="button"
          >
            <i class="flex fab fa-facebook-square"></i></button
          ><button
            class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
            type="button"
          >
            <i class="flex fab fa-dribbble"></i></button
          ><button
            class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
            type="button"
          >
            <i class="flex fab fa-github"></i>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2"
              >Useful Links</span
            >
            <ul class="list-unstyled">
              {{ range $content.menus.footer1 }}
                <li>
                  <a title="{{ .name }}"
                    class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                    href="{{ .url }}"
                    >{{ .name }}</a
                  >
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2"
              >Other Resources</span
            >
            <ul class="list-unstyled">
                {{ range $content.menus.footer2 }}
                  <li>
                    <a title="{{ .name }}" class="{{.button_link}}" href="{{ .url }}">{{ .name }}</a>
                  </li>
                {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-wrap items-center md:justify-between justify-center"
    >
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          Made with
          <a
            href="/"
            class="text-gray-600 hover:text-gray-900"
            >PoppyGo</a
          >.
        </div>
      </div>
    </div>
  </div>
</footer>

{{- end -}}
