{{- $colors := "" -}}
{{- $fonts := "" -}}
{{- $fontweights := "" -}}
{{- $container := "" -}}

{{- range $key,$value := $.Site.Data.design.colorscheme -}}
    {{- $colors = printf "%s %s" $colors (printf "--%s: %s;" (replace $key "_" "-" ) $value ) -}}
{{- end -}}

{{- range $.Site.Data.design.fontscheme -}}
    {{- $fonts = printf "%s %s" $fonts (printf "--font-%s: %s;" (replace .name "_" "-" ) .family ) -}}
    {{- $fontweights := printf "%s %s" $fontweights (printf "--font-weight-%s: %s;" (replace .name "_" "-" ) (string .weight) )  }}
{{- end -}}

{{- range $.Site.Data.design.site.container -}}
  {{- if eq .name "padding" -}}
    {{- range $key, $value := . -}}
      {{- if not (eq $key "name") -}}
        {{- $container = printf "%s %s" $container (printf "--container-%s: %s;" $key $value ) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end }}

<style>
  :root {
    {{- $colors | safeCSS -}}
    {{- $fonts | safeCSS -}}
    {{- $fontweights | safeCSS -}}
    {{- $container | safeCSS -}}
  }
</style>

{{/* google fonts */}}

{{- $googlefonts := "" -}}
{{- $url_weights := ":ital,wght@0,400;0,700;1,400&"}}

{{- range $.Site.Data.design.fontscheme -}}
    {{- $googlefonts = printf "%s%s" $googlefonts (printf "family=%s%s" (replace .family " " "+" ) $url_weights ) -}}
{{- end -}}
{{- $googlefonts = printf "%sdisplay=swap" $googlefonts -}}

<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" {{ printf "href=\"https://fonts.googleapis.com/css2?%sdisplay=swap\"" $googlefonts | safeHTMLAttr }}>

{{/*}}
<link rel="preload" {{ printf "href=\"https://fonts.googleapis.com/css2?%sdisplay=swap\"" .  | safeHTMLAttr }} as="css" >
*/}}
