{{- $page := .page -}}
{{- $content_info := .content_info -}}
{{- $design_info := .design_info -}}
{{- $component := .component -}}

<section class="m-10 p-3 mx-auto container bg-poppycolor4 mb-20">
  <div class = "p-10 border-dotted border-2 border-white">

  <h1 class="text-4xl text-white">Poppy debug info</h1>
  <h2 class="text-xl text-white">Component: {{$component.File.ContentBaseName}} <h2>
  <h2 class="text-xl text-white">page: {{$page.File.ContentBaseName}}</h2>

  <div class= "my-10">
    <h2 class="text-2xl text-white mb-3">Content</h2>
    <div class ="bg-poppycolor-4 grid-cols-1 md:grid-cols-4 text-xs grid grid-row-auto-dense gap-2">

      {{ range $key, $value := $content_info.content }}
        {{ if $value }}
          {{- $override := index $design_info.override_debug_info $key -}}
          <div class = "col-span-1 bg-poppycolor2 {{if $override}} bg-poppycolor3 {{end}}">
            <p class="text-white">{{- $key -}}</p>
            {{- if $override }}
              <p class="text-white"> --override in Page --</p>
            {{- end -}}
          </div>
          <div class = "md: col-span-3 text-poppycolor2">{{$value }}</div>
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class= "my-10">
    <h2 class="text-2xl text-white mb-3">Design</h2>
    <div class ="bg-poppycolor-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid grid-row-auto-dense gap-2">
      {{ range $key, $value := $design_info.design }}
          {{- if $value -}}
            {{- $override := index $design_info.override_debug_info $key -}}
            <div class="col-span-1 text-xs  ">
              <div class = "bg-poppycolor2 {{if $override}} bg-poppycolor3 {{end}}">
                  <p class="text-white">{{- $key -}} </p>
                {{- if $override }}
                  <p class="text-white"> --override in Page Component-- </p>
                {{- end -}}
              </div>
              <div class = "text-poppycolor2">{{$value }}</div>
            </div>
          {{ end }}
      {{ end }}
    </div>
  </div>
</div>

</section>
