
{{- $page_component := .page_component -}}
{{- $section := .section -}}
{{- $page := .page -}}
{{- $content := dict "name" ( .section.name | default .page_component.Name) -}}
{{- $override_debug_info := dict -}}

{{- $params := slice "title" "subtitle" "image" "bg_image" "full_width" "max_columns" "buttons" "items" "list" "max_amount" "size" "full_height"  -}}

{{- range $key, $value := $params}}

  {{- $section_value := index $section . -}}
  {{- $component_value := index $page_component.Params . -}}
  {{- $override := ( $section_value | default $component_value ) -}}
  {{- if $section_value }} {{- $override_debug_info = merge $override_debug_info (dict . true ) -}} {{- end -}}

  {{- if eq $override "->frompage" -}}
    {{- $page_value := index $page.Params $key -}}
    {{- $content = merge $content (dict . $page_value ) -}}
    {{- $content = merge $content (dict "body" $page.Content) -}}
  {{ else }}
    {{- $content = merge $content (dict . $override ) -}}
    {{- $content = merge $content (dict "body" $page_component.Content) -}}
  {{ end }}
{{- end -}}

{{/* -----------Change resource page when images are set in the page section  -------- */}}
{{- if .section.bg_image}}
    {{- $content = merge $content (dict "bg_resource_page" .page) -}}
{{- else -}}
    {{- $content = merge $content (dict "bg_resource_page" $page_component ) -}}
{{- end -}}

{{- $content = merge $content (dict "bg_css" (printf "bg_%s_%s" ($page_component.File.UniqueID) ($section.name | anchorize ))) -}}


{{/* --------Check if images are used in the section so, the right resourcepage will be chosen */}}

{{- $images_in_items := false -}}
{{- range .section.items -}}
    {{- if .image -}}
        {{- $images_in_items = true -}}
    {{- end -}}
{{- end -}}

{{- if or .section.image $images_in_items -}}
    {{- $content = merge $content (dict "fg_resource_page" .page) -}}
{{- else -}}
    {{- $content = merge $content (dict "fg_resource_page" $page_component) -}}
{{- end -}}

{{- $content_info := dict "override_debug_info" $override_debug_info "content" $content -}}

{{- return $content_info -}}
