
{{- $page_component := . -}}
{{- $typographyData := site.Data.design.typographies -}}
{{- $objectData := site.Data.design.objects -}}
{{- $buttonData := site.Data.design.buttons -}}
{{- $design := dict -}}
{{- $override_debug_info := dict -}}

{{- range $objectData -}}
  {{- range $key, $value := . -}}
    {{- if $page_component.Params.design -}}
      {{- $override := index $page_component.Params.design $key -}}
      {{- $default := $value -}}
      {{- $value = $override | default $default }}
      {{- if $override }} {{- $override_debug_info = merge $override_debug_info (dict $key true ) -}} {{- end -}}
    {{- end -}}
    {{- if in $key "size" -}} {{- $value = printf "text-%s" $value -}}
    {{- else if in $key "inner_space" -}} {{- $value = printf "py-%s sm:py-%s md:py-%s lg:py-%s xl:py-%s" (string $value) (string (add $value 3)) (string (add $value 6)) (string (add $value 9)) (string (add $value 12)) -}}
    {{- else if in $key "bg" -}} {{- $value = printf "bg-%s" $value -}}
    {{- else if in $key "text" -}} {{- $value = printf "text-%s" $value -}}
    {{- else if eq $key "rounded" -}} {{- $value = printf "sm:rounded-%s" $value -}}
    {{- else if eq $key "shadow" -}} {{- $value = printf "sm:shadow-%s" $value -}}
    {{- else if eq $key "border" -}} {{- $value = printf "border-%s" (string $value) -}}
    {{- else if eq $key "gridgap" -}} {{- $value = printf "sm:gap-%s" (string $value) -}}
    {{- end -}}
    {{- $design = merge $design (dict $key $value) -}}
  {{- end -}}
{{- end -}}

{{ range $typographyData -}}
  {{- $name := .name -}}
  {{- $type := "" -}}

  {{- range $key, $value := . -}}
    {{- $typography := dict -}}
    {{- if $page_component.Params.design.typographies -}}
      {{- range where $page_component.Params.design.typographies "name" "eq" $name -}}
        {{- $typography = . }}
      {{- end -}}
    {{- end -}}
    {{- with $typography -}}
      {{- $override := index . $key -}}
      {{- $default := $value -}}
      {{- $value = string ($override | default $default) -}}
      {{- if $override -}}{{- $override_debug_info = merge $override_debug_info (dict $name true ) -}}{{- end -}}
    {{- end -}}

    {{- if $value -}}

        {{- if eq $key "font" -}} {{- $value = (printf "font-%s" $value ) -}} {{- end -}}
        {{- if eq $key "space" -}} {{- $value = (printf "py-%s"  (string $value) ) -}} {{- end -}}
        {{- if eq $key "bg_color" -}} {{- $value = (printf "bg-%s"  $value ) -}} {{- end -}}
        {{- if in $key "align" -}} {{- $value = printf "text-%s" $value -}} {{- end -}}
        {{- if eq $key "color" -}} {{- $value = (printf "text-%s"  $value ) -}} {{- end -}}


        {{- if eq $key "size" -}}
          {{- $sizeIndex := 0 -}}
          {{- $sizes := slice "xs" "sm" "base" "lg" "xl" "2xl" "3xl" "4xl" "5xl" "6xl" "7xl" "8xl" "9xl" -}}
          {{- $lg := "" -}} {{- $xl := "" -}}
          {{- range $index, $size := $sizes -}}
            {{- if eq $size $value -}}
              {{- if le $index (sub (len $sizes) 3 ) }} {{- $lg = index $sizes (add $index 1) -}}  {{- end -}}
              {{- if le $index (sub (len $sizes) 4 ) }} {{- $xl = index $sizes (add $index 2) -}}  {{- end -}}
            {{- end -}}
          {{- end -}}
          {{- $value = (printf "text-%s lg:text-%s xl:text-%s" $value $lg $xl) -}}
        {{- end -}}

        {{- $type = printf "%s %s" $type $value -}}
    {{- end -}}
  {{- end -}}
  {{- $design = merge $design (dict $name $type ) -}}
{{- end -}}

{{- range $buttonData -}}
  {{- $name := .name -}}
  {{- $button := "" -}}
  {{- $button_name := "" -}}
  {{- $overridden := "" -}}

  {{- range $key, $value := . -}}
    {{- $button_type := dict  -}}
    {{- if $page_component.Params.design.buttons -}}
      {{- range where $page_component.Params.design.buttons "name" "eq" $name -}}
        {{- $button_type = . }}
      {{- end -}}
    {{- end -}}

    {{- with $button_type -}}
      {{- $override := index . $key -}}
      {{- $default := $value -}}
      {{- $value = string ($override | default $default) -}}
      {{- if $override -}}{{- $overridden = true -}}{{- end -}}
    {{- end -}}

    {{- if $value -}}
        {{- if in $key "space" -}}
            {{ $value }}
            {{- $value = printf "px-%s py-%s" (string (mul (int $value) 4)) (string $value)  -}}
        {{- end -}}
        {{- if in $key "font" -}} {{- $value = printf "font-%s"  $value  -}} {{- end -}}
        {{- if in $key "rounded" -}} {{- $value = printf "rounded-%s"  $value  -}} {{- end -}}
        {{- if eq $key "color" -}} {{- $value = printf "bg-%s"  $value  -}} {{- end -}}
        {{- if in $key "text" -}} {{- $value = printf "text-%s"  $value  -}} {{- end -}}
        {{- if eq $key "name" -}} {{- $button_name = printf "button_%s"  $value  -}} {{- end -}}



        {{- if in $key "size" -}}
          {{- $sizeIndex := 0 -}}
          {{- $sizes := slice "xs" "sm" "base" "lg" "xl" "2xl" "3xl" "4xl" "5xl" "6xl" "7xl" "8xl" "9xl" -}}
          {{- $lg := "" -}} {{- $xl := "" -}}
          {{- range $index, $size := $sizes -}}
            {{- if eq $size $value -}}
              {{- if le $index (sub (len $sizes) 3 ) }} {{- $lg = index $sizes (add $index 1) -}}  {{- end -}}
              {{- if le $index (sub (len $sizes) 4 ) }} {{- $xl = index $sizes (add $index 2) -}}  {{- end -}}
            {{- end -}}
          {{- end -}}
          {{- $value = (printf "text-%s lg:text-%s xl:text-%s" $value $lg $xl) -}}
        {{- end -}}



        {{- $button = printf "%s %s" $button $value -}}
    {{- end -}}
  {{- end -}}
  {{- if $overridden }}
      {{- $override_debug_info = merge $override_debug_info (dict $button_name true ) -}}
  {{- end -}}
  {{- $design = merge $design (dict $button_name $button ) -}}
{{- end -}}

{{- $design_info := dict "override_debug_info" $override_debug_info "design" $design -}}

{{- return $design_info -}}
