
{{- $page_component := . -}}
{{- $typographyData := site.Data.design.typographies -}}
{{- $componentData := site.Data.design.components -}}
{{- $buttonData := site.Data.design.buttons -}}
{{- $formData := site.Data.design.form -}}
{{- $design := dict -}}
{{- $override_debug_info := dict -}}

{{- $form := "" -}}
{{- range $key, $value := $formData -}}
    {{- if in $key "bg_color" -}} {{- $value = (printf "bg-%s"  (partial "poppy-engine/colors" $value) ) -}}
    {{- else if in $key "border_color" -}} {{- $value = (printf "border-%s"  (partial "poppy-engine/colors" $value) ) -}}
    {{- else if in $key "text_color" -}} {{- $value = (printf "text-%s"  (partial "poppy-engine/colors" $value) ) -}} {{- end -}}
    {{- $form = printf "%s%s " $form $value -}}
{{- end -}}
{{- $design = merge $design (dict "form" $form) -}}

{{- range $componentData -}}
  {{- $border := "" -}}
  {{- range $key, $value := . -}}
    {{- if $page_component.Params.design -}}
      {{- $override := index $page_component.Params.design $key -}}
      {{- $default := $value -}}
      {{- $value = $override | default $default }}
      {{- if $override }} {{- $override_debug_info = merge $override_debug_info (dict $key true ) -}} {{- end -}}
    {{- end -}}
    {{- if in $key "vertical_space" -}} {{- $value = printf "py-%s sm:pt-%s md:pt-%s lg:pt-%s xl:pt-%s" (string $value) (string (add $value 3)) (string (add $value 6)) (string (add $value 9)) (string (add $value 12)) -}}
    {{- else if eq $key "rounded" -}} {{- $value = printf "rounded-%s" $value -}}
    {{- else if eq $key "shadow" -}} {{- $value = printf "shadow-%s" $value -}}
    {{- else if eq $key "border" -}}
      {{- if eq $value "1" -}}
        {{- $border = printf "%s %s" $border "border" -}}
      {{- else -}}
        {{- $border = printf "%s border-%s" $border (string $value) -}}
      {{- end -}}
    {{- else if eq $key "border_color" -}} {{- $border = printf "%s border-%s" $border (partial "poppy-engine/colors" $value) -}}
    {{- else if eq $key "border_opacity" -}} {{- $border = printf "%s border-opacity-%s" $border (string $value) -}}
    {{- else if eq $key "border" -}} {{- $value = printf "border-%s" (string $value) -}}
    {{- else if eq $key "gridgap" -}} {{- $value = printf "gap-x-0 gap-y-%s sm:gap-%s" (string $value) (string $value) -}}
    {{- end -}}
    {{- $design = merge $design (dict $key $value) -}}
  {{- end -}}
  {{- $design = merge $design (dict "border" $border) -}}
{{- end -}}

{{- if $page_component.Params.design.typographies -}}
  {{- range $page_component.Params.design.typographies -}}
    {{- $name := .name -}}
    {{- $typography := . -}}
    {{- range $key, $value := . -}}
        {{- range where $typographyData "name" "eq" $name -}}
          {{/* This is a non component specific typography and will later override the default design */}}
        {{- else -}}
          {{/* Add component specific typogaphy */}}
          {{- $typographyData = $typographyData | append $typography -}}
        {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ range $typographyData -}}
  {{- $name := .name -}}
  {{- $type := "" -}}
  {{- $space_from_size := "" -}}

  {{- range $key, $value := . -}}
    {{- $override := "" -}}
    {{- $default := $value -}}
    {{- $typography := dict -}}
    {{- if $page_component.Params.design.typographies -}}
      {{- range where $page_component.Params.design.typographies "name" "eq" $name -}}
        {{- $override = index . $key -}}
      {{- end -}}
    {{- end -}}

    {{- $value = string ($override | default $default) -}}
    {{- if $override -}}{{- $override_debug_info = merge $override_debug_info (dict $name true ) -}}{{- end -}}

    {{- if $value -}}
      {{- if in $key "font" -}} {{- $value = (printf "font-%s" $value ) -}} {{- end -}}
      {{- if eq $key "background_color" -}} {{- $value = (printf "bg-%s"  (partial "poppy-engine/colors" $value) ) -}} {{- end -}}
      {{- if in $key "align" -}} {{- $value = printf "text-%s" $value -}} {{- end -}}
      {{- if eq $key "color" -}} {{- $value = (printf "text-%s"  (partial "poppy-engine/colors" $value) ) -}} {{- end -}}
      {{- if eq $key "space" -}} {{- $value = (printf "py-%s"  (string $value) ) -}} {{- end -}}
      {{- if eq $key "line_height" -}} {{- $value = printf "leading-%s" $value -}} {{- end -}}
      {{- if eq $key "outline_width" -}}{{- $value = (printf "text-stroke-%s"  (string $value) ) -}}{{- end -}}
      {{- if eq $key "outline_color" -}}{{- $value = (printf "text-stroke-%s" (partial "poppy-engine/colors" $value) ) -}}{{- end -}}
      {{- if eq $key "direction" -}}{{- $value = (printf "md:writing-mode-%s" $value) -}}{{- end -}}
      {{- if eq $key "cell_width" -}}{{- $value = (printf "md:col-span-%s" (string $value) ) -}}{{- end -}}
      {{- if eq $key "cell_height" -}}{{- $value = (printf "md:row-span-%s" (string $value)) -}}{{- end -}}
      {{- if eq $key "size" -}}
        {{- if not (in $name "menu") -}}
          {{- $sizeIndex := 0 -}}
          {{- $sizes := slice "xs" "sm" "base" "lg" "xl" "xl" "2xl" "2xl" "3xl" "4xl" "5xl" "6xl" "7xl" "8xl" "9xl" "10xl" "11xl" "12xl" "13xl" -}}
          {{- $lg := "" -}} {{- $xl := "" -}}
          {{- range $index, $size := $sizes -}}
            {{- if eq $size $value -}}
              {{- if le $index (sub (len $sizes) 1 ) }} {{- $lg = index $sizes (add $index 1) -}}  {{- end -}}
              {{- if le $index (sub (len $sizes) 2 ) }} {{- $xl = index $sizes (add $index 2) -}}  {{- end -}}
              {{- $space_from_size = string (add (div $index 4) 1) -}}
            {{- end -}}
          {{- end -}}
          {{- $value = (printf "text-%s lg:text-%s xl:text-%s" $value $lg $xl) -}}
        {{- else -}}
          {{- $value = (printf "text-%s"  $value ) -}}
        {{- end -}}
      {{- end -}}

      {{- $type = printf "%s %s" $type $value -}}
    {{- end -}}
  {{- end -}}
  {{- if in $type "py-" }}
  {{- else -}}
    {{ $type = printf "%s %s" $type (printf "py-%s" $space_from_size) -}}
  {{- end -}}
  {{- $design = merge $design (dict $name $type ) -}}
{{- end -}}

{{- range $buttonData -}}
  {{- $name := .name -}}
  {{- $button := "" -}}
  {{- $button_name := "" -}}
  {{- $overridden := "" -}}

  {{- range $key, $value := . -}}
    {{- $button_type := dict  -}}
    {{- if $page_component.Params.design.buttons -}}
      {{- range where $page_component.Params.design.buttons "name" "eq" $name -}}
        {{- $button_type = . }}
      {{- end -}}
    {{- end -}}

    {{- with $button_type -}}
      {{- $override := index . $key -}}
      {{- $default := $value -}}
      {{- $value = string ($override | default $default) -}}
      {{- if $override -}}{{- $overridden = true -}}{{- end -}}
    {{- end -}}

    {{- if $value -}}
      {{- if in $key "font" -}} {{- $value = printf "font-%s"  $value  -}} {{- end -}}
      {{- if in $key "rounded" -}} {{- $value = printf "rounded-%s"  $value  -}} {{- end -}}
      {{- if eq $key "color" -}} {{- $value = printf "bg-%s"  (partial "poppy-engine/colors" $value)  -}} {{- end -}}
      {{- if eq $key "text_color" -}} {{- $value = printf "text-%s"  (partial "poppy-engine/colors" $value)  -}} {{- end -}}
      {{- if eq $key "text_outline_width" -}}{{- $value = (printf "text-stroke-%s"  (string $value) ) -}}{{- end -}}
      {{- if eq $key "text_outline_color" -}}{{- $value = (printf "text-stroke-%s" (partial "poppy-engine/colors" $value) ) -}}{{- end -}}
      {{- if eq $key "name" -}} {{- $button_name = printf "button_%s"  $value  -}} {{- end -}}

      {{- if in $key "size" -}}
        {{- $sizeIndex := 0 -}}
        {{- $sizes := slice "xs" "sm" "base" "lg" "xl" "2xl" "3xl" "4xl" "5xl" "6xl" "7xl" "8xl" "9xl" -}}
        {{- $spaces := slice 1 1 2 2 3 3 4 4 5 5 6 6 7 -}}
        {{- $lg := "" -}} {{- $xl := "" -}} {{- $lg_spacex := "" -}} {{- $lg_spacey := "" -}} {{- $xl_spacex := "" -}} {{- $xl_spacey := "" -}}
        {{- $base_spacey := "" -}}
        {{- $base_spacex := "" -}}

        {{- range $index, $size := $sizes -}}
          {{- if eq $size $value -}}
            {{- $base_spacey = (string (index $spaces $index)) -}}
            {{- $base_spacex = string ( mul (index $spaces $index) 3) -}}
            {{- $xl = index $sizes (add $index 1) -}}
            {{- $lg_spacey = index $spaces (add $index 1) -}}
            {{- $lg_spacex = index $spaces ( mul (add $index 1) 3 ) -}}
          {{- end -}}
        {{- end -}}
        {{- $value = printf "text-%s lg:text-%s xl:text-%s" $value $lg $xl -}}
        {{- $value = printf "%s py-%s lg:py-%s xl:py-%s" $value $base_spacey (string $lg_spacey) (string $xl_spacey) -}}
        {{- $value = printf "%s px-%s lg:px-%s xl:px-%s" $value $base_spacex (string $lg_spacex) (string $xl_spacex) -}}
      {{- end -}}
      {{- $button = printf "%s %s" $button $value -}}
    {{- end -}}
  {{- end -}}
  {{- $button = printf "%s %s" $button "mb-1 mr-1" -}}
  {{- if $overridden }}
      {{- $override_debug_info = merge $override_debug_info (dict $button_name true ) -}}
  {{- end -}}
  {{- $design = merge $design (dict $button_name $button ) -}}
{{- end -}}

{{- $design_info := dict "override_debug_info" $override_debug_info "design" $design -}}

{{- return $design_info -}}
