{{- $page := .page -}}
{{- $content := .content -}}
{{- $design := .design -}}

{{- $amount := 0 -}}
{{ if $content.items }}
    {{ $amount = len $content.items }}
{{ end }}

{{- with $design -}}

  {{- $columns := partial "poppy-elements/responsive-columns" (dict "amount" $amount "max_columns" $content.max_columns) -}}
  <section id="{{$content.name}}" class="mx-auto px-4 md:px-12 bg_cover {{.bg_color}} {{$content.bg_css}} {{.outer_space}} {{.inner_space}}">
    <div class="container mx-auto">
      <h3 class=" {{.title }}  text-center m-2">{{ $content.title }}</h3>
      <p class=" {{.subtitle}} text-center">{{ $content.subtitle }}</p>
        <div class="flex">
            {{- range $content.items -}}
            <div class="flex flex-auto p-5 {{$columns}}">
                <div class=" w-full overflow-hidden {{ $design.rounded }} {{$design.shadow}} {{$design.border}} {{$design.item_bg_color}}">
                  <div>
                    {{- partial "poppy-elements/image" (dict "resource_page" $content.fg_resource_page "name" .image "class" "w-full h-2/5 object-cover") -}}
                  </div>
                  <div class="prose p-4 md:p-6 ">
                      {{.bodytext | markdownify }}
                  </div>
                  <div class="px-3 ">
                      {{- partial "poppy-elements/buttons" (dict "design" $design "buttons" .buttons ) -}}
                  </div>
              </div>
            </div>
            {{- end -}}
        </div>
      </div>
  </section>
{{- end -}}
