{{ "<!-- snippet enumeration media object switch -->" | safeHTML }}
<section class="container">
  <h1>{{ .snippetOverride.title | default .snippet.Params.title }}</h1>
  <div class="center flex-auto p2">
    <p>Resize the viewport to see the effect.</p>
    <div class="sm-flex flex-center">
      <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" width="192" width="192" class="flex-last m2" />
      <div class="flex-auto p2 border">.flex-auto</div>
    </div>
    <div class="sm-flex flex-center">
      <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" width="192" width="192" class="m2" />
      <div class="flex-auto p2 border">.flex-auto</div>
    </div>
    <div class="sm-flex flex-center">
      <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" width="192" width="192" class="flex-last m2" />
      <div class="flex-auto p2 border">.flex-auto</div>
    </div>
    <div class="sm-flex flex-center">
      <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" width="192" width="192" class="m2" />
      <div class="flex-auto p2 border">.flex-auto</div>
    </div>
  </div>
</section>
